div#co{
  display: none;
  position: absolute;
  background-color: #FF3333;
  border: 2px;
  border-color: white;
  border-style: solid;
  padding: 5px;
  transition-duration: 5s;
  border-radius: 20px;
  top : 50px;
  text-align: center;
  width: 190px;
}

input{
  width: 150px;
  color: #FF3333;
  border-radius: 10px;
  border: none;
  padding: 0px 5px;
}

input:invalid{
  box-shadow:0 0 5px rgba(255, 255, 255, .9);
}

