div#inscription{
  background-color: #FF3333;
  color : white;
  position: relative;
  top: 25vh;
  left: 25vw;
  width: 50vw;
  height: 300px;
  text-align: center;
  border-radius: 65px;
}

div#inscription>nav>form>textarea{
  width: 300px;
  height: 90px;
  border-style: dotted;
  border-color: #FF3333;
  border-radius: 5px;
  color : #FF3333;
  text-align: center; 
}

div#inscription>nav>form>input{
  color: #FF3333;
}