/*Menu Style*/

div#menu{
    background-color: #FF3333;
    color : white;
    position: fixed;
    left: 0px;
    top: 0px;
    right: 0px;
    z-index: 1;
    display : flex;
    transition: all 0.3s ease;
    height: 50px;
    padding: 0px 30px;
    align-items: center;
    justify-content: space-between;
    font-family: Comic Sans MS;
}

div#user{
    border: 1px solid white;
    padding : 10px;
    border-radius: 10px;
}

select{
    border-radius: 1px;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid;
    font-family: Comic Sans MS;
}