@import url("button.css");
@import url("inscription.css");
@import url("menu.css");
@import url("connexion.css");
@import url("carte.css");
@import url("http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css");

/*Global style :*/

*{
  font-family: Comic Sans MS,Comic cursive;
  /*background-color: blue;*/
}